html{
  height: 100%;
}
body{
  height:100%;
  overflow:hidden;
  background-color: salmon;
}
html, body{
  height:100%;
  min-height:100%;
}

#root{
  height:100%;
}

.playGroundContainer{
  height:100%;
}