.leaderBoard{
    background-color:aqua;
    overflow:auto;
    height:100%;
}

.canvas{
    background-color: white;
    margin-top:30px;
    height:70%;
}

.chat{
    background-color:rgb(240,240,240);
    overflow-x: hidden;
    height:100%;
}

.gamePageContainer{
    height:100%;
}

.middleContainer{
    height:100%;
}
.infoContainer{
    margin-top:10px;
    height:100%;
    background-color: lightblue;
}