.leaderBoard{
    background-color:aqua;
    overflow:auto;
}

.canvas{
    background-color: white;
    margin:auto
}

.chat{
    background-color:rgb(240,240,240);
    overflow-y: auto;
    overflow-x: hidden;
}

