.leaderBoard{
    background-color:aqua;
    overflow:auto;
    height:100%;
}

.canvas{
    background-color: white;
    margin:auto;
    height:70%;
}

.chat{
    background-color:rgb(240,240,240);
    overflow-x: hidden;
    height:100%;
}

.gamePageContainer{
    height:100%;
}

.firstContainer{
    height:100%;
}